@model dynamic

@{
    ViewBag.Title = "MathMate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="LinearController as vm">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h2>@ViewBag.Title</h2></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <textarea class="form-control" rows="5" spellcheck="false" cols="5" ng-model="vm.linearSystem" ng-change="vm.updateSystem()"></textarea>
            <button class="btn btn-default" ng-click="vm.solve()">Solve it!</button>
        </div>
        <div class="col-md-6">
            <div id="linearSystem">
                \begin{cases}
                \end{cases}
            </div>
            <div id="solution">
                \begin{pmatrix}
                \end{pmatrix}
            </div>
        </div>
    </div>
</div>
