@model dynamic

@{
    ViewBag.Title = "MathMate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/index.css">
<div ng-controller="LinearController as vm">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 centered">
            <img src="https://threequartersandcounting.files.wordpress.com/2015/02/smiley-face-two-thumbs-up.jpg?w=150&h=126" alt="logo" />
            <h2>@ViewBag.Title</h2>
            <h2>Solver for systems of linear equations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 col-md-offset-4 centered">
                        <textarea placeholder="Enter your system here..." class="form-control" rows="5" spellcheck="false" cols="5" ng-model="vm.linearSystem" ng-change="vm.updateSystem()" style="resize: none;"></textarea>
                        <button class="btn btn-default" ng-disabled="vm.linearSystem == ''" ng-click="vm.solve()">Solve it!</button>
                    </div>
                </div>
                <div class="col-md-6 centered">
                    <div class="row">
                        <div class="col-md-6 centered">
                            System
                            <div id="linearSystem">
                                \begin{cases}
                                \end{cases}
                            </div>
                        </div>
                        <div class="col-md-6 centered">
                            Solution
                            <div id="solution">
                                \begin{pmatrix}
                                \end{pmatrix}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
